@import "variables";

.about-container {
  width: 100%;

  &.is-next {
    animation: about-is-next $animation-move-time ease;
  }

  &.is-previous {
    animation: about-is-previous $animation-move-time ease;
  }
}

@keyframes about-is-next {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes about-is-previous {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

.about-header {
  width: 100%;
  font-size: 50px;
  padding: 70px 0;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.about-header-back-text {
  position: absolute;
  top: 25px;
  font-size: 100px;
  opacity: .1;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -5px;
  z-index: -1;
}

.about-first-glance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-first-glance-description {
  width: 30%;
  direction: rtl;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.about-download-cv-button-container {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.about-download-cv-button {
  padding: 10px;
  border-radius: 30px;
  background-color: var(--primary-color);
  text-align: center;
  width: 180px;
  font-size: 17px;
  font-weight: normal;
  cursor: pointer;
  transition-duration: $animation-time;
  border: 1px solid var(--primary-color);
  color: var(--font-color);
  position: relative;
  justify-self: flex-start;
  max-height: 30px;

  &:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding-left: 40px;
    width: 150px;

    .about-download-cv-button-svg {
      opacity: 1;
      transform: translateX(-17px);
    }
  }
}

.about-download-cv-button-svg {
  fill: var(--primary-color);
  height: 17px;
  width: 17px;
  opacity: 0;
  transition-duration: $animation-time;
  position: absolute;
  top: 16px;
  left: 40px;
}

.about-first-glance-description-content {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  margin-top: 15px;
}

.about-first-glance-description-content-side {
  flex-grow: 1;
}

.about-first-glance-description-title {
  color: gray;
  display: inline-block;
  margin-bottom: 14px;
}

.about-first-glance-description-value {
  display: inline-block;
}

.about-first-glance-stats {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  text-align: right;

  &:nth-child(even) {
    justify-content: flex-start;
  }

  &:nth-child(odd) {
    justify-content: flex-end;
  }
}

.about-first-glance-box {
  width: 135px;
  height: 140px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 5px;
  font-size: 50px;
  margin: 0 15px 30px 15px;
  font-weight: bold;
  color: var(--primary-color);
  padding: 10px 40px;
}

.about-first-glance-box-title {
  font-weight: normal;
  font-size: 16px;
  color: var(--font-color);
}

.about-separator-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.about-separator {
  width: 25%;
  background-color: rgba(255, 255, 255, .15);
  height: 1px;
}

.about-skills-container {
  width: 70%;
  direction: rtl;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

.about-skill-title {
  margin-top: 30px;
  font-weight: normal;
  font-size: 20px;
}

.about-lang-skills-container {
  width: 70%;
  direction: rtl;
  font-size: 24px;
  font-weight: bold;
  margin: auto auto 50px auto;
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  margin: auto;
}

.about-skill-item {
  height: 22px;
  background-color: var(--dark-color);
  position: relative;
  border-radius: 30px;
  margin-top: 55px;
}

.about-skill-item-eng {
  height: 22px;
  background-color: var(--dark-color);
  position: relative;
  border-radius: 30px;
  margin-top: 55px;
  width: 100%;
}

@media (max-width: 1300px) {
  .about-skill-item {
    width: 100%;
    margin-top: 55px;
  }
}


@media (min-width: 1300px) and (max-width: 1600px) {
  .about-skill-item {
    width: 420px;
    margin-top: 70px;
  }
}

@media (min-width: 1600px) and (max-width: 1840px) {
  .about-skill-item {
    width: 500px;
    margin-top: 70px;
  }
}

@media (min-width: 1840px) and (max-width: 4096px) {
  .about-skill-item {
    width: 600px;
  }
}

.about-skill-item-title {
  width: auto;
  text-align: justify;
  position: absolute;
  bottom: 35px;
  right: 0;
  color: var(--font-color);
  padding: 0 2px;
}

.about-skill-item-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 22px;
  background-color: var(--primary-color);
  border-radius: 30px;

  &._100 {
    animation: _100animation $animation-bar-time ease;
    width: 100%;
  }

  &._80 {
    animation: _80animation $animation-bar-time ease;
    width: 80%;
  }

  &._60 {
    animation: _60animation $animation-bar-time ease;
    width: 60%;
  }
}

@keyframes _100animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes _80animation {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes _60animation {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes _20animation {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

@media (max-width: 770px) {
  .about-skills-container {
    width: 90%;
  }
  .about-header {
    padding: 60px 0;
  }
  .about-header-back-text {
    letter-spacing: normal;
    font-size: 70px;
    width: 100%;
    top: -10px;
  }
  .about-first-glance {
    .about-download-cv-button {
      display: none;
    }
  }
  .about-first-glance-stats {
    width: 50%;
  }
  .about-first-glance-box {
    width: 100px;
    height: 80px;
    font-size: 30px;
    padding: 5px 8px 10px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .about-first-glance-box-title {
    font-size: .37em;
  }
  .about-separator-container {
    margin: 20px 0 30px 0;
  }
  .about-skill-item {
    margin-bottom: 35px;
    height: 16px;

    &:first-child {
      margin-top: 85px;
    }
  }
  .about-skill-item-bar {
    height: 16px;
  }
  .about-skill-item-title {
    bottom: 25px;
  }
}