@import "variables";

.certificate-research-education-container {
  width: 100%;

  &.is-next {
    animation: certificate-is-next $animation-move-time ease;
  }

  &.is-previous {
    animation: certificate-is-previous $animation-move-time ease;
  }
}

@keyframes certificate-is-next {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes certificate-is-previous {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

.certificate-header {
  width: 100%;
  font-size: 50px;
  padding: 70px 0;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.certificate-header-back-text {
  position: absolute;
  top: 30px;
  font-size: 90px;
  opacity: .1;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -5px;
  z-index: -1;
}

.certificate-first-glance {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.certificate-first-glance-description {
  width: 60%;
  direction: rtl;
  font-size: 24px;
  font-weight: bold;
}

.certificate-contents {
  display: flex;
  font-weight: normal;
  flex-wrap: wrap;
  font-size: 18px;
  margin: 5px 0;
  justify-content: space-evenly;
}

.honor-item-container {
  width: 200px;
  height: auto;
  border-right: 1px solid rgba(255, 255, 255, .1);
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
  transition-duration: $animation-time;
  margin: 35px 20px;

  &:hover {
    border-right: 1px solid rgba(255, 180, 0, .4);
    cursor: pointer;

    .certificate-item-svg-container {
      background-color: var(--primary-color);
    }

    .certificate-item-svg {
      fill: var(--font-color);
    }

    .certificate-item-title {
      color: var(--primary-color);
    }

    .certificate-item-title-description {
      color: var(--font-color);
    }

    .certificate-item-description {
      color: lightgray;
    }

    .certificate-gpa-date-container {
      color: var(--primary-color);
    }
  }
}

.certificate-item-container {
  width: 280px;
  height: auto;
  border-right: 1px solid rgba(255, 255, 255, .1);
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
  transition-duration: $animation-time;
  margin: 35px 20px;

  &.active {
    cursor: default !important;

    .certificate-item-title {
      color: var(--primary-color);
    }

    .certificate-item-title-description {
      color: var(--font-color);
    }

    .certificate-item-description {
      color: lightgray;
    }

    .certificate-gpa-date-container {
      color: var(--primary-color);
    }
  }

  &:hover {
    border-right: 1px solid rgba(255, 180, 0, .4);
    cursor: pointer;

    .certificate-item-svg-container {
      background-color: var(--primary-color);
    }

    .certificate-item-svg {
      fill: var(--font-color);
    }

    .certificate-item-title {
      color: var(--primary-color);
    }

    .certificate-item-title-description {
      color: var(--font-color);
    }

    .certificate-item-description {
      color: lightgray;
    }

    .certificate-gpa-date-container {
      color: var(--primary-color);
    }
  }
}

.research-item-container {
  width: 400px;
  height: auto;
  border-right: 1px solid rgba(255, 255, 255, .1);
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
  transition-duration: $animation-time;
  margin: 25px 0;

  &:hover {
    border-right: 1px solid rgba(255, 180, 0, .4);
    cursor: pointer;

    .certificate-item-svg-container {
      background-color: var(--primary-color);
    }

    .certificate-item-svg {
      fill: var(--font-color);
    }

    .certificate-item-title {
      color: var(--primary-color);
    }

    .certificate-item-title-description {
      color: var(--font-color);
    }

    .certificate-item-description {
      color: lightgray;
    }

    .certificate-gpa-date-container {
      color: var(--primary-color);
    }
  }
}

.certificate-gpa-date-container {
  display: flex;
  justify-content: flex-start;
  color: var(--font-color);
  transition-duration: $animation-time;
}

.certificate-item-date {
  padding: 2px 10px;
  border-radius: 30px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, .1);
  margin-left: 10px;
}

.certificate-item-title {
  margin-top: 10px;
  font-size: 18px;
  color: var(--font-color);
  transition-duration: $animation-time;
  line-height: 35px;
  text-align: justify;
}

.certificate-item-title-description {
  margin-top: 10px;
  font-size: 17px;
  color: darkgray;
  transition-duration: $animation-time
}

.certificate-item-description {
  font-size: 14px;
  color: grey;
  line-height: 27px;
  margin-top: 10px;
  text-align: justify;
  transition-duration: $animation-time;
}

.certificate-item-svg-container {
  position: absolute;
  top: 0;
  right: -20px;
  width: 40px;
  height: 40px;
  background-color: var(--dark-color);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: $animation-time;
}

.certificate-item-svg {
  width: 15px;
  height: 15px;
  fill: var(--primary-color);
  transition-duration: $animation-time;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  transform: translateY(1000px);
  transition-duration: .5s;
}

.fade-exit {
  transform: translateY(1000px);
  transition-duration: .5s;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: all 500ms ease-out;
}

.fade-appear {
  opacity: 0.1;
}

.fade-appear.fade-appear-active {
  transform: translateY(1000px);
  transition-duration: .5s;
}

.education-description-svg {
  fill: var(--primary-color);
  width: 17px;
  height: 17px;
  padding-left: 10px;
  transform: translateY(6px);
}

.work-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.work-item {
  width: 50%;
  margin: 0 -16px;
  position: relative;

  &:nth-child(odd) {
    align-self: flex-start;
    text-align: left;
    border-left: 2px solid var(--primary-color);
    padding-left: 15px;

    .work-item-date {
      left: -150px;
    }
  }

  &:nth-child(even) {
    align-self: flex-end;
    text-align: right;
    border-right: 2px solid var(--primary-color);
    padding-right: 15px;

    .work-item-date {
      right: -150px;
    }
  }

  &:hover {
    cursor: pointer;

    .work-item-title {
      color: var(--primary-color);
    }

    .work-item-organization {
      color: var(--font-color);
    }

    .work-item-description {
      color: darkgray;
    }

    &:nth-child(odd) {
      .work-item-date {
        left: -180px;
      }
    }

    &:nth-child(even) {
      .work-item-date {
        right: -180px;
      }
    }
  }
}

.work-item-date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px 15px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 20px;
  font-size: 14px;
  transition-duration: $animation-time;
}

.work-item-title {
  font-size: 18px;
  color: var(--font-color);
  margin-bottom: 10px;
  transition-duration: $animation-time;
}

.work-item-organization {
  font-size: 17px;
  color: darkgray;
  margin-bottom: 10px;
  transition-duration: $animation-time;
}

.work-item-description {
  font-size: 15px;
  color: grey;
  transition-duration: $animation-time;

  div {
    margin-bottom: 5px;
  }
}

@media (max-width: 770px) {
  .certificate-header-back-text {
    top: -5px;
    font-size: 70px;
  }
  .certificate-header {
    font-size: 40px;
  }
  .certificate-item-title {
    font-size: 14px;
  }
  .certificate-item-title-description {
    font-size: 14px;
  }
  .certificate-item-description {
    font-size: 13px;
  }
  .certificate-first-glance-description {
    width: 90%;
  }
  .certificate-item-date {
    font-size: 11px;
  }
  .certificate-item-container {
    padding: 9px 30px 9px 0;
  }
  .research-item-container {
    padding: 5px 30px 8px 5px;
  }
  .work-item-container {
    margin-top: 20px;
  }
  .work-item {
    margin: 0 -8px;
    position: relative;

    &:nth-child(odd) {
      padding-left: 7px;

      .work-item-date {
        left: -120px;
      }
    }

    &:nth-child(even) {
      padding-right: 7px;

      .work-item-date {
        right: -120px;
      }
    }

    &:hover {
      cursor: default;

      &:nth-child(odd) {
        .work-item-date {
          left: -125px;
        }
      }

      &:nth-child(even) {
        .work-item-date {
          right: -125px;
        }
      }
    }
  }
  .work-item-title {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }
  .work-item-organization {
    font-size: 14px;
  }
  .work-item-description {
    font-size: 12px;
    text-align: center;
  }
  .work-item-date {
    font-size: 11px;
  }
}