@import "variables";

.gallery-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-item-container {
  width: 63%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-item {
  flex-grow: 1;
  direction: rtl;
  text-align: justify;
  background-color: var(--dark-color);
  border-radius: 8px;
  overflow: hidden;
  width: 255px;
  margin: 15px;
  cursor: pointer;

  &:hover {
    .gallery-item-picture {
      transform: scale(1.2);
    }

    .gallery-item-title {
      color: var(--primary-color);
    }
  }
}

.gallery-item-picture-container {
  overflow: hidden;
  height: 170px;
  border-bottom: 5px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-picture {
  width: 100%;
  transition: all ease $animation-time;
  object-fit: cover;
}

.gallery-item-text-container {
  padding: 25px;
}

.gallery-item-title {
  font-size: 16px;
  font-weight: bold;
  transition: color ease $animation-time;
  margin-bottom: 15px;
  line-height: 30px;
}

.gallery-item-description {
  font-size: 14px;
  line-height: 25px;
}

.galley-modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: gallery-back ease $animation-time;
  background-color: rgba(0, 0, 0, .75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes gallery-back {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.gallery-arrow-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, .05);
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 200px;
  margin: 0 20px;
  cursor: pointer;
  transition-duration: $animation-time;
  position: fixed;

  &:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  &.next {
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
  }

  &.previous {
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
  }
}

.gallery-back-arrow {
  width: 50px;
  height: 50px;
  fill: var(--primary-color);
}

.gallery-next-arrow {
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
  fill: var(--primary-color);
}

.gallery-modal-picture {
  height: 95vh;
  max-width: 85%;
}

@media (max-width: 770px) {
  .gallery-wrapper {
    justify-content: flex-end;
    width: 100%;
  }
  .gallery-item {
    margin-right: 0;
  }
  .gallery-item-container {
    width: 100%;
  }
  .gallery-item-text-container {
    padding: 20px;
  }
  .gallery-item-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .gallery-item-description {
    font-size: 12px;
  }
  .gallery-modal-picture {
    height: auto;
    width: 95%;
    max-height: 70vh;
    max-width: 95%;
  }
  .gallery-arrow-container {
    padding: 20px;
    order: 2;
    height: auto;
    position: fixed;

    &.next {
      bottom: 15px;
      right: 0;
      transform: translateY(-10%);
    }

    &.previous {
      bottom: 15px;
      left: 0;
      transform: translateY(-10%);
    }
  }
  .galley-modal-container {
    justify-content: center;
  }
  .galley-tooltip-container {
    display: none;
  }
}