@import "variables";

.intro-container {
  width: 100%;
  overflow: hidden;
  display: flex;

  &.is-next {
    animation: intro $animation-move-time ease;
  }

  &.is-previous {
    animation: intro-is-previous $animation-move-time ease;
  }
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes intro-is-previous {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

.intro-animated-background {
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 200vh;
  background-color: var(--primary-color);
  top: -50vh;
  left: -300px;
  transform: rotate(-20deg) translateX(0);
  animation: intro-background 40s ease 0s infinite;
}

@keyframes intro-background {
  0% {
    transform: rotate(-20deg) translateX(0);
  }
  50% {
    transform: rotate(-20deg) translateX(50px);
  }
  100% {
    transform: rotate(-20deg) translateX(0);
  }
}


.intro-picture-container {
  height: calc(100vh - 100px);
  width: calc(40% - 100px);
  margin: 50px;
  object-fit: cover;
  border-radius: 20px;
  background-image: url("../Media/Image/model.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //border: 2px solid var(--primary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  direction: rtl;
  font-size: 25px;
  line-height: 30px;
}

.intro-content-wrapper {
  text-align: right;
  width: 500px;
}

.intro-text-bold {
  font-size: 35px;
  font-weight: bold;
}

.intro-text-name {
  color: var(--primary-color);
}

.intro-text-description {
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 30px;
}

.intro-more-about-button {
  padding: 10px;
  border-radius: 30px;
  background-color: var(--background-color);
  text-align: center;
  width: 185px;
  font-size: 17px;
  cursor: pointer;
  transition-duration: $animation-time;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;

  &:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding-left: 45px;
    width: 150px;

    .intro-more-about-button-svg {
      opacity: 1;
      transform: translateX(-17px);
      fill: var(--font-color);
    }
  }
}

.intro-more-about-button-svg {
  fill: var(--primary-color);
  height: 17px;
  width: 17px;
  opacity: 0;
  transition-duration: $animation-time;
  position: absolute;
  top: 16px;
  left: 45px;
}

.intro-top-buttons-container {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.intro-bottom-buttons-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}


.intro-info-detail-svg-wrapper {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: $animation-time;
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);

    .intro-info-detail-svg {
      fill: var(--font-color);
    }
  }
}

.intro-info-detail-svg {
  height: 17px;
  width: 17px;
  fill: var(--primary-color);
  transition-duration: $animation-time;

  &.telegram {
    padding-right: 2px;
  }
}

.intro-side-bar-button {
  padding: 7px 17px;
  border-radius: 30px;
  background-color: var(--background-color);
  text-align: center;
  width: auto;
  font-size: 12px;
  cursor: pointer;
  transition-duration: $animation-time;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;
  flex-grow: 1;
  margin: 7px;

  &:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding-right: 5px;
    padding-left: 29px;

    .intro-side-bar-button-svg {
      fill: var(--font-color);
      opacity: 1;
      left: 13.5%;
    }
  }
}

.intro-side-bar-button-svg {
  fill: var(--primary-color);
  height: 13px;
  width: 13px;
  opacity: 0;
  transition-duration: $animation-time;
  position: absolute;
  top: 15px;
  left: 25%;
}