$main-sidebar-size: 120px;
$animation-time: .25s;
$animation-move-time: .55s;
:root {
  --primary-color: #ffb400;
  --background-color: #111111;
  --font-color: #f1f1f1;
  --success-color: #28BF49;
  --dark-color: #303030;
  --error-color: #C62828;
}
